In [5]:
import sys
sys.version

'3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]'

# Numbers

In [26]:
5 + 6 #addition

11

In [27]:
800-2222 #substraction

-1422

In [28]:
58*5657 #multiplication

328106

In [6]:
10/5 #float divison

2.0

In [7]:
10//5 #int division

2

In [29]:
length = 10
width = 30
area = length * width 
print ( area )

300

In [31]:
4**2 #square of 4

16

In [32]:
3**7 #3 to the power of 7

2187

In [48]:
5%2 #modulus

1

In [6]:
# area of a circle
radius = 20                               
area_of_circle = 3.14 * radius ** 2         
print('Area of a circle:', area_of_circle)

# area of a rectangle
length = 45
width = 35
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

#weight of an object
mass = 66
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

Area of a circle: 1256.0
Area of rectangle: 1575
647.46 N

# String

single line ' ' | " "
multi line '''  '''

In [42]:
print ('data science is powerful' )

data science is powerful

In [44]:
print (len('data science is powerful' ))

24

In [46]:
print ('data science is powerful'[0:4] )

data

In [47]:
print('data science is powerful '.upper())

DATA SCIENCE IS POWERFUL

In [34]:
"data science is powerful"

'data science is powerful'

In [35]:
'''data science is powerful '''

'data science is powerful '

In [36]:
'data science 
is powerful'

SyntaxError: unterminated string literal (detected at line 1) (1177777875.py, line 1)

In [37]:
'''data 
science is 
powerful ''' #slicing

'data \nscience is \npowerful '

In [38]:
'''data 
science is 
powerful ''

_IncompleteInputError: incomplete input (2760703839.py, line 1)

In [8]:
print ('doesn't')

SyntaxError: unterminated string literal (detected at line 1) (1389648842.py, line 1)

In [9]:
print ('doesn\'t')

doesn't

In [10]:
print ("doesn't")

doesn't

In [12]:
print (""wow"she said")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (633374134.py, line 1)

In [16]:
print ("\"wow\" she said")

"wow" she said

In [17]:
print ("\"wow\" \nshe said")

"wow"
she said

In [18]:
print('my\nname')

my
name

In [19]:
print('c\name')

c
ame

In [20]:
print(r'c\name') #raw string

c\name

In [23]:
print("""
hello
there""")

hello
there

In [24]:
print("""\ 
hello
there""") # by adding \ the initial line is not included

hello
there

In [25]:
3* 'say'+ 'ali'

'saysaysayali'

In [26]:
print("hello"
"there")

hellothere

# Index

In [21]:
name = "hello"
print (name[3])

l

In [22]:
name = "hello"
print (name[-1])

o

In [23]:
name = "hello sayali"
print (name[-1])

i

In [24]:
name = "hello sayali"
print (name[2::])

llo sayali

# Variable

Syntax : Variable = Value
Rules 1.must start with letter and underscore
      2.can contain digits but cannot start with it
      3.case sensitive
      4.cannot be a python keyword

In [12]:
age = 27 # integer variable
print (age)

27

In [13]:
name = "sayali" # string variable
print (name)

sayali

In [14]:
is_active = True # boolen variable
print (is_active)

True

In [15]:
x=10
print(x)

10

In [16]:
a = 2
b = 3
print ( a+b)

5

In [17]:
score = 10
print (score)
score = 20
print (score)

10
20

In [18]:
first_name = "sayali"
last_name = "nade"
full_name = first_name +" " +last_name
print(full_name)

sayali nade

In [19]:
length = 10
width = 30
area = length * width 
print ( area )

300

In [20]:
x = 10 
print (x)
x = 20 
print (x)

10
20

In [3]:
first_name = 'sayali'
last_name = 'nade'
country = 'india'
city = 'latur'
age = '27'
is_married = 'false'
skills = 'python'

first_name
last_name
country
city
age
is_married
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)

First name: sayali
First name length: 6
Last name:  nade
Last name length:  4
Country:  india
City:  latur
Age:  27
Married:  false
Skills:  python

In [74]:
v = 14

In [75]:
v

14

In [76]:
id(v)

140708336547144

In [78]:
14 = v # variable should not start with number

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2278341752.py, line 1)

In [79]:
14v = 26

SyntaxError: invalid decimal literal (453614628.py, line 1)

In [80]:
v14 = 9
v14

9

In [81]:
var = 14

In [1]:
Var # variable is case sensitive

NameError: name 'Var' is not defined

In [89]:
say  = 24 # call variable by which it is defined
sayali

NameError: name 'sayali' is not defined

In [90]:
nike, puma = 4999 # if there are two varibles there should be two values

TypeError: cannot unpack non-iterable int object

In [91]:
nike, puma = 4999 , 5999

In [92]:
nike
puma

5999

In [93]:
print (nike)
print(puma)

4999
5999

In [95]:
nike$ = 7 #cannot contain special characters except _

SyntaxError: invalid syntax (1808524256.py, line 1)

In [99]:
qwerty# =7

NameError: name 'qwerty' is not defined

In [100]:
nikes_puma = 7

In [101]:
print #variables cannot be the keywords

In [102]:
import #variables cannot be the keywords

SyntaxError: Expected one or more names after 'import' (2125240012.py, line 1)

In [2]:
if = 6 
if #variables cannot be the keywords

SyntaxError: invalid syntax (1646028014.py, line 1)

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
len(keyword.kwlist)

35

# Datatypes

In [72]:
type()

TypeError: type() takes 1 or 3 arguments

In [4]:
print(type(1 + 3j))              # Complex
print(type('Asabeneh'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# Integer

In [57]:
i= 14

In [58]:
type(i)

int

# float

In [64]:
f = 5.4

In [65]:
type(f)

float

In [71]:
shoes_price = 499.50

In [67]:
shoes_price

499.5

In [68]:
f1 = 1e0
f1

1.0

In [69]:
type (f1)

float

In [70]:
f2 = 2e1 #only e/E is allowed e to the power 0 is 1 ;e to the power 1 is 10 and so on
f2

20.0

In [5]:
f3 = 2.4e2 # 2.4*100.0
f3

240.0

In [6]:
f4 = 2.5E3
f4

2500.0

In [7]:
f5 = 2a1
f5

SyntaxError: invalid decimal literal (845237051.py, line 1)

# boolean

In [49]:
True

True

In [51]:
true # True False None always start with capital

NameError: name 'true' is not defined

In [50]:
False

False

In [52]:
True + False # true = 1 false = 0

1

In [53]:
True + True

2

In [54]:
True * False

0

In [55]:
 False/ True

0.0

In [56]:
True / False

ZeroDivisionError: division by zero

#zerodivision error is a runtime error