# python print statements

In [1]:
a = 20
b = 45
a
b

45

In [2]:
a = 20
b = 45
print (a)
print (b)

20
45

In [3]:
print(45) 
print(45,65) 
print('numbers') 
print(45,65,'numbers')

45
45 65
numbers
45 65 numbers

In [4]:
num1=12 
num2=15 
add=num1+num2 
print(add)

27

# print result with string

In [8]:
num1=12 
num2=15 
add=num1+num2
print ('the addition of',num1,'and',num2,'is=',add)

the addition of 12 and 15 is= 27

In [7]:
name = 'yuvaan'
age = 6
city = 'latur'
print('hello,my name is',name,'and i am',age,'years old from',city )

hello,my name is yuvaan and i am 6 years old from latur

# print format method

In [11]:
num1=12 
num2=15 
add=num1+num2
print ('the addition of {} and {} is {}'.format(num1,num2,add))

the addition of 12 and 15 is 27

In [24]:
num1=12 
num2=15 
num3=17
num4=18
avg=(num1+num2+num3+num4)/4
avg1=round((num1+num2+num3+num4)/4,3)
print(avg,avg1)
print('The average of {}, {}, {}, {},is= {} or {}'.format(num1,num2,num3,num4,
avg,avg1))

15.5 15.5
The average of 12, 15, 17, 18,is= 15.5 or 15.5

In [25]:
round(avg,2)

15.5

# f string

In [26]:
num1=12 
num2=15
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 12 and 15 is= 27

In [35]:
name = 'yuvaan'
age = 6
city = 'latur'
print(f'hello my name is {name},and i am {age} years old, from {city}.')

hello my name is yuvaan,and i am 6 years old, from latur.

In [32]:
num1=12 
num2=15 
add=num1+num2
print (f'the addition of {num1} and {num2} is {add}')

the addition of 12 and 15 is 27

In [34]:
num1=12 
num2=15 
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')
print(f'hello my name is {name},and i am {age} years old, from {city}.')
print (f'the addition of {num1} and {num2} is {add}')

The addition of 12 and 15 is= 27
hello my name is yuvaan,and i am 6 years old, from latur.
the addition of 12 and 15 is 27

# End statement

In [36]:
print('hey')
print ('how are you')

hey
how are you

In [37]:
print('hey',end=' ')
print ('how are you')

hey how are you

# Seperator

In [38]:
print('hey','i m yuvaan ','who are you',sep='----/')

hey----/i m yuvaan ----/who are you

In [39]:
print('hey','i m yuvaan ','who are you',sep='--->')

hey--->i m yuvaan --->who are you

In [40]:
print('hey','i m yuvaan ','who are you',sep='$')

hey$i m yuvaan $who are you

In [41]:
print(6,',')

6 ,

In [43]:
print(6,',',sep='')

6,

In [46]:
print(7,8,end='',sep='') 
print(9,'.',sep='')

789.