# python tutorial

In [3]:
import sys 
import keyword 
import operator 
from datetime import datetime 
import os

In [9]:
import keyword

for kw in keyword.kwlist:
    print(kw)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [10]:
len(keyword.kwlist)

35

# identifiers

In [11]:
7say = 20  # Identifier can't start with a digit

SyntaxError: invalid decimal literal (183070916.py, line 1)

In [12]:
say& = 20 # Identifier can't use special symbols

SyntaxError: invalid syntax (2947493621.py, line 1)

In [13]:
None = 20  # Keywords can't be used as identifiers

SyntaxError: cannot assign to None (1344109567.py, line 1)

In [14]:
Say2 = 20 # (Identifiers can be a combination of letters in lowercase (a to z) or uppercase

In [16]:
say_2 =20

# COMMENTS

In [ ]:
say1= 20  #Single line comment

In [17]:
#multi
#line
#comment
say1= 20

In [18]:
"""
multi
line
comment
"""
hey =10

In [19]:
'''
multi
line
comment
'''
hey =10

# statements

In [29]:
a = 10
b = 10
c = b
a,type(a),hex(id(a))

(10, int, '0x7fff8c29b4c8')

In [30]:
b,type (b),hex(id(c))

(10, int, '0x7fff8c29b4c8')

In [31]:
c,type (c),hex(id(c))

(10, int, '0x7fff8c29b4c8')

In [33]:
a = 10
a = a + 60
a

70

# variable assignment

In [34]:
intvar = 29
floatvar = 29.67
strvar = " hello there "
print (intvar)
print (floatvar)
print (strvar)

29
29.67
 hello there

 # multiple assignments

In [35]:
 intvar , floatvar , strvar = 29,29.67,"hello there "
print (intvar)
print (floatvar)
print (strvar)

29
29.67
hello there

In [37]:
print (intvar),print (floatvar),print (strvar)

29
29.67
hello there

(None, None, None)

In [38]:
a1 = a2 =a3 = 23
print (a1,a2,a3)

23 23 23

# Data Types

# Numeric

In [39]:
say1 = 20 # Integer data type
print (say1)
print (type (say1)) # type of object 
print(sys.getsizeof(say1)) # size of integer object in bytes 
print(say1, " is Integer?", isinstance(say1, int))

20
<class 'int'>
28
20  is Integer? True

In [40]:
say2 = 20.23 # Float data type
print (say2)
print (type (say2)) # type of object
print(sys.getsizeof(say2)) # size of float object in bytes 
print(say2, " is float?", isinstance(say2, float))

20.23
<class 'float'>
24
20.23  is Integer? True

In [41]:
sys.getsizeof(int()) ) # size of integer object in bytes

28

In [42]:
sys.getsizeof(float())# size of float object in bytes

24

In [43]:
say3 = 20.23+ 4.4j # Complex data type 
print (say3)
print (type (say3)) # type of object 
print(sys.getsizeof(say3))
print(say3, " is complex?", isinstance(say3, complex))

(20.23+4.4j)
<class 'complex'>
32
(20.23+4.4j)  is complex? True

In [44]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean

In [46]:
bool1 = True

In [47]:
bool2 = False

In [48]:
print(type(bool1))

<class 'bool'>

In [49]:
print(type(bool2))

<class 'bool'>

In [50]:
isinstance(bool1, bool)

True

In [51]:
bool(0)

False

In [52]:
bool(1)

True

In [53]:
bool(None)

False

In [54]:
bool (False)

False

# string creation

In [55]:
str = "SAYALI "
print ( str )

SAYALI

In [57]:
str1 = 'sayali'
print ( str1 ) # Define string using single quotes

sayali

In [58]:
str1 = "sayali nade"
print ( str1 ) # Define string using double quotes

sayali nade

In [59]:
str1 ='''sayali
          nade'''
print ( str1 )# Define string using triple quotes

sayali
          nade

In [60]:
str1 ="""sayali
          nade"""
print ( str1 )# Define string using triple quotes

sayali
          nade

In [62]:
str1 =('sayali '
       'ulhas '
        'nade')
print ( str1 )

sayali ulhas nade

In [64]:
str2 = 'wow '
str2 = str2*7
str2

'wow wow wow wow wow wow wow '

In [65]:
len(str2)

28

# string indexing

In [66]:
str1

'sayali ulhas nade'

In [67]:
str1[0] # First character in string "str1"

's'

In [68]:
str1[len(str1)-1] # Last character in string using len function

'e'

In [71]:
 str1[-1] # Last character in string

'e'

In [72]:
 str1[6]#Fetch 7th element of the string

' '

In [73]:
 str1[5]

'i'

# string slicing

In [74]:
str1[0:5]  # String slicing - Fetch all characters from 0 to 5 index location

'sayal'

In [75]:
str1[6:12]

' ulhas'

In [76]:
str1[-4:] # Retreive last four characters of the string

'nade'

In [77]:
str1[-6:] # Retreive last six characters of the string

's nade'

# update & delete string

In [83]:
str1

'sayali ulhas nade'

In [84]:
str1[0:5]

'sayal'

In [90]:
str1 = "hey " + str1[7:]
str1

'hey as nade'

In [92]:
str1[0:6]  
#Strings are immutable which means elements of a string cannot be changed once 
#they have been assigned

NameError: name 'str1' is not defined

In [91]:
del str1 
print (str1)  # Delete a string

NameError: name 'str1' is not defined

# string concatenation

In [94]:
a2 = 'our'
a1 = 'life'
a3 = a2 + a1
print(a3) # String concatenation

ourlife